#site-navigation {
	position: relative;
	flex-basis: 50%;
	display: flex;
	align-items: center
}

#main-navigation {
	top: 100%;
	left: 0;
	position: absolute;
	width: 100vw;
	display: none;

	ul {
		margin: 0;
		padding: 1em calc(var(--padding__blocks) * 1.5);
		list-style: none;
		text-transform: lowercase;
		background-color: $color__klink-purple;

		li {
			padding: 1em 0;
			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: #fff
				}
			}
		}
	}
}

#navigation-checkbox {
	display: none;

	&:checked {
		& ~ #site-navigation {
			background-color: $color__klink-purple;

			label[for=navigation-checkbox] {
				svg line {
					stroke: #fff;

					&:first-child {
						transform: rotate(45deg)
					}

					&:last-child {
						transform: rotate(-45deg)
					}

					&:nth-child(2) {
						opacity: 0
					}
				}
			}

			#main-navigation {
				display: block;
			}
		}
	}
}

label[for=navigation-checkbox] {
	padding: calc(var(--padding__blocks) * .5);
	cursor: pointer;

	svg line {
		stroke: $color__klink-purple;
		stroke-width: 3px;
		transform-origin: center;
		transition: all .2s ease;

		&:first-child {
			transform: translateY(-8px)
		}

		&:last-child {
			transform: translateY(8px)
		}
	}
}

@media (min-width: $breakpoint__desktop) {
	#site-navigation {
		justify-content: flex-end;
		align-items: flex-end
	}

	#main-navigation {
		top: unset;
		left: unset;
		position: inherit;
		width: auto;
		display: block;

		ul {
			padding: 0;
			background: none;
			display: flex;

			li {
				margin-right: 1.5em;
				padding: 0;

				&:last-child {
					margin-right: 0
				}

				&.current_page_item > a {
					color: $color__link
				}

				a {
					color: $color__text-main;

					&:hover {
						color: $color__link
					}
				}
			}
		}
	}

	label[for=navigation-checkbox] {
		display: none
	}
}
