.site-footer {
  padding: var(--padding__blocks);
  color: $color__klink-yellow;
  background-color: $color__klink-purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & > div {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0
    }
  }

  a {
    color: $color__klink-yellow;
    text-decoration: none;

    &:hover {
      color: $color__klink-yellow
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none
  }

  .site-organizer {
    p {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: bold;
    }

    .site-organizer-logo {
      margin: 0;
      height: 8rem;
      background-color: $color__klink-yellow;
      mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      display: block
    }
  }

  .site-info {
    li {
      font-weight: bold;
      text-transform: lowercase
    }
  }

  .site-social {
    li {
      margin-bottom: .5em;
      
      a {
        width: 1.75rem;
        height: 1.75rem;
        background-color: $color__klink-yellow;
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        display: block
      }
    }
  }
}

@media (min-width: $breakpoint__desktop) {
  .site-footer {
    flex-direction: row;

    & > div {
      margin-bottom: 0
    }
  }
}
