.site-header {
	padding: var(--padding__blocks);
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	.site-logo {
		display: block;
	
		img {
			height: 4rem;
			display: block;
		}
	}
}
