$size__site-main: 100%;
$size__site-sidebar: 25%;

$max-width__paragraph: 1200px;

$breakpoint__desktop: 800px;

:root {
  --padding__blocks: 1rem;

  @media (min-width: $breakpoint__desktop) {
    --padding__blocks: 2rem
  }
}
